/*! Place your custom styles here */

img.logo.logo-light{ width:200%; }

img.logo.logo-light{  max-height:300px;}

img.logo{ width:10%; }
img.logo{  max-height:100px;}

i.icon {
    color: #60bbd3!important;
}

div.content.boxed.boxed--border > h2 {
	font-size: 	1.7em;
	line-height: 24px;
	margin-left: 2px;
	float: left;
}

div.content.boxed.boxed--border > i {
	padding: 0, 10px, 10px 0; 
	font-size: 1.8em;
	float: left;
}

.api-info, .account-info {
	text-decoration: none;
	font-weight: bold;
}
.shadowed-text {
	text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.62);
}
.activities-list {
	font-size: 16px;
}

.pledge-list {
	font-size: 17px;
	letter-spacing: 1px; 
	text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.62);
}

.team-list {
	margin-bottom: 0.2em;	
}

.lead.mission {
	text-align: justify;
}

.player {
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
  height: 320px;
  width: 480px;

  -moz-box-shadow: rgba(0, 0, 0, 0.4) 2px 3px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 2px 3px 10px;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 2px 3px 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 2px 3px 10px;
}

.docLinks a {
}

.docLinks a:hover {
	text-decoration: underline;
}

a.learnLink {
	font-size:15px;
	text-decoration:underline;
	font-weight: lighter; 
}

a.learnLink:hover {
	font-size:15px;
	font-weight: normal;
}

