<IfModule pagespeed_module>
	ModPagespeed off
</IfModule>

Header set Access-Control-Allow-Origin "*"

Redirect 301 /discord https://discord.gg/bBpQHym

Redirect 301 /logo https://eoscostarica.io/assets.html