.spot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.svgWrapper {
  margin-top: 0;
  display: inline-block;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px;
}

.shape {
  fill: transparent;
  stroke: #5484b3;
  transition: 1s all ease;
}

.svgWrapper:hover .shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #5484b3;
}

.menuWrapper {
  display: flex;
  justify-content: center;
}

.customMenu {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 10px;
  align-items: center;
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.2s;
  z-index: 2001;
  height: 60px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);

  /* ojo */
  max-width: var(--ifm-container-width);
  margin: 0 auto;
}

.customMenu .boxLeft {
  width: 100%;
  display: none;
}

.customMenu .boxRight {
  width: 50%;
  padding-top: 1rem;
  display: none;
}

.customMenu .boxLeft img {
  /* height: 40px;
  width: 110px; */
  height: 130px;
  width: 330px;
  -webkit-transform-origin: top left;
  -webkit-transition: all 0.26s;
}

.customMenu ul {
  height: 35px;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  width: 50%;
}

.customMenu ul li {
  display: inline;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
}

.customMenu ul li a {
  padding-bottom: 5px;
}

.sidebar {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.menuSideBar {
  width: 250px;
  height: 100%;
  background-color: #ffffff;
}

.imgBox {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  padding: 0 1rem;
  margin-bottom: 1rem;
  height: 60px;
  align-items: center;
  display: flex;
}

.menuSideBar .imgBox img {
  height: 40px;
  width: 110px;
}

.active {
  opacity: 1;
  visibility: visible;
  transition: all 0.25s ease;
  transform: translateX(0);
}

.menuButton {
  display: flex;
  margin-right: 1rem;
}

.menuSideBar a {
  color: #000;
  text-decoration: none;
  display: block;
  padding: 20px;
}

.menuSideBar ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.menuSideBar ul li {
  font-size: 16px;
}

.menuSideBar ul li:hover {
  cursor: pointer;
}

.footerContent {
  background-color: #000000;
  height: 300px;
  width: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.footerContent .socialCol {
  display: flex;
  justify-content: flex-start;
}

.footerContent .socialCol > div {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
}

.footerContent img {
  width: 200px;
}

.footerContent h2 {
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}

.companyLocation {
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}

.companySocial {
  font-size: 16px;
  line-height: 1.44;
}

.languageSwitcher {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  -webkit-transform: translateY(10%);
  -moz-transform: translateY(10%);
  -ms-transform: translateY(10%);
  -o-transform: translateY(10%);
  transform: translateY(10%);
  -webkit-transition: transform 0.17s cubic-bezier(0.26, 0.48, 0.08, 0.9);
  -moz-transition: transform 0.17s cubic-bezier(0.26, 0.48, 0.08, 0.9);
  -ms-transition: transform 0.17s cubic-bezier(0.26, 0.48, 0.08, 0.9);
  -o-transition: transform 0.17s cubic-bezier(0.26, 0.48, 0.08, 0.9);
  transition: transform 0.17s cubic-bezier(0.26, 0.48, 0.08, 0.9);
}

.selectEs,
.selectEn {
  position: absolute;
  font-size: 16px;
  top: 5px;
}
.selectEs {
  left: 5px;
  color: #f1f1f1;
}
.selectEn {
  right: 2px;
  color: #000;
}

.languageSwitcher:hover {
  cursor: pointer;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 60px;
  background-color: #5484b3;
  box-shadow: 0 3px 30px rgba(30, 52, 112, 0.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 0;
  bottom: 0;
  background-color: #f1f1f1;
  box-shadow: 0 3px 30px rgba(30, 52, 112, 0.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #5484b3;
}

input:focus + .slider {
  box-shadow: none;
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}



@media (min-width: 1281px) {
  .footerContent {
    padding: 4rem 15rem;
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  .footerContent {
    padding: 4rem 3rem;
  }
}

@media (min-width: 769px) {
  .customMenu {
    align-items: flex-start;
    height: 75px;
    box-shadow: none;
    padding-top: 1rem;
    padding-left: 3rem;
  }

  .customMenu .boxLeft {
    width: 330px;
    display: flex;
  }

  .customMenu .boxRight {
    width: 620px;
    display: flex;
  }

  .customMenu .boxLeft img {
    height: 130px;
    width: 330px;
  }

  .customMenu ul {
    width: 95%;
  }
}

@media (min-width: 768px) {
  .footerContent {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .footerContent > div {
    width: 30%;
  }
}
