.mainContainer h1 {
  margin-bottom: 0px;
  font-size: 38px;
  font-weight: 500;
  line-height: 1;
  color: #000000;
}

.mainContainer input[type="text"] {
  height: 55px;
  font-size: 20px;
  width: 100%;
  margin-bottom: 1rem;
  padding: 10px;
}
.mainContainer h3 {
  line-height: 1.44;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}

.mainContainer textarea {
  width: 100%;
  font-size: 20px;
  padding: 10px;
}

.topBox {
  padding: 5rem 1rem 2rem 1rem;
  text-align: left;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
}

.enterpriceBox {
  padding: 1rem;
  text-align: left;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.enterpriceInfoBox {
  width: 100%;
  padding-right: 10%;
  text-align: left;
}

.whatWeDoBox {
  background-color: #f1f1f1;
  display: flex;
  padding: 2rem 1rem;
  flex-direction: column;
}

.industryBox {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.inquiresBox {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}

.secondaryBG {
  background-color: #f1f1f1;
}

.secondaryBG h1 {
  color: #000000 !important;
}

.knowEOSCRBox {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.linkProjectBox {
  background-color: #f1f1f1;
  display: flex;
  padding: 4rem 3rem;
  justify-content: space-between;
}

.contactUsBox {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.titleBox {
  margin-bottom: 3rem;
}

.titleBox h1 {
  font-size: 45px;
  line-height: 1.23;
}

.topBox span {
  font-size: 16px;
  line-height: 1.25;
  color: #000000;
  margin-bottom: 2rem;
}

.enterpriceBox .btnBox {
  display: flex;
  justify-content: flex-end;
  padding: 3rem;
}

.enterpriceTitleBox {
  margin: 2rem 0;
}

.colBox {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.colBox h3 {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.whatWeDoBox .whatWeDoBoxLeft {
  width: 100%;
}

.whatWeDoBox .whatWeDoBoxLeft h1 {
  margin-bottom: 2rem;
}

.whatWeDoBox .whatWeDoBoxRight {
  display: none;
}

.whatWeDoBox .whatWeDoBoxRight svg {
  width: 100%;
}

.whatWeDoBox .mobileSvgIcon {
  display: flex;
  width: 100%;
}

.whatWeDoBox .mobileSvgIcon svg {
  width: 100%;
}

.industryBox .industryTitleBox {
  margin: 1rem 0;
}

.industryBox span {
  font-size: 16px;
  line-height: 1.44;
  color: #000000;
}

.industryBox .industryColWrapper {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  flex-direction: column;
}

.industryBox .industryColWrapper .industryColBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 1rem;
  justify-content: space-between;
}

.industryColBox .svgBox {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.industryColBox .svgBox svg {
  width: 75%;
}

.industryColBox button {
  margin-top: 3rem;
}

.inquiresBox h1 {
  line-height: 1.08;
  color: #ffffff;
  width: 100%;
  padding-bottom: 1rem;
}

.knowEOSCRBox h1 {
  margin-bottom: 1rem;
}

.knowEOSCRBox span {
  font-size: 16px;
  line-height: 1.44;
  color: #000000;
}

.knowEOSCRBox .knowRowBox {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  flex-direction: column;
}

.knowRowBox div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.knowEOSCRBox .colReverse {
  flex-direction: column-reverse;
}

.knowRowBox img {
  width: 100%;
  margin-top: 1rem;
}

.linkProjectBox img {
  width: 20%;
}

.contactUsBox h1 {
  margin-bottom: 1rem;
}

.contactUsBox span {
  font-size: 16px;
  line-height: 1.44;
  color: #000000;
}

.contactUsBox div {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}

.contactUsBox div input[type="text"] {
  width: 100%;
}

.mainButton {
  width: 100%;
  height: 80px;
  border: solid 1px #979797;
  background-color: #5484b3;
  font-size: 21px;
  color: #ffffff;
}

.mainButton:hover {
  cursor: pointer;
}

/* Accordion Style Start */
.arrowUp {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 21px solid #5484b3;
  margin-left: 1rem;
}

.arrowDown {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 21px solid #5484b3;
  margin-left: 1rem;
}

.accordion {
  width: 100%;
  background-color: transparent;
  margin-top: 3rem;
}

.title {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
  color: #000000;
  letter-spacing: 1px;
  text-align: left;
  line-height: 2;
  position: relative;
  z-index: 2000;
  margin-top: 2px;
  transition: all 0.2s ease-in;
}

.titleText {
  font-size: 20px;
  font-weight: bold;
  line-height: 0.96;
  text-align: justify;
  color: #000000;
}

.title:hover {
  cursor: pointer;
}

.content {
  height: 30px;
  width: 100%;
  background-color: transparent;
  border-radius: 4px;
  color: #000000;
  font-size: 14px;
  text-align: center;
  position: relative;
  z-index: 1000;
  margin-top: -30px;
  text-align: left;
  transition: all 200ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.contentOpen {
  margin-top: 0px;
  height: 220px;
  transition: all 350ms cubic-bezier(0.08, 1.09, 0.32, 1.275);
}

.contentText {
  padding: 0px;
  visibility: hidden;
  opacity: 0;
  overflow: auto;
  transition: all 0.2s ease-in;
  font-size: 16px;
  line-height: 1.44;
  color: #000000;
}

.contentTextOpen {
  visibility: visible;
  opacity: 1;
  transition: all 0.8s ease-in;
}

.arrowWrapper {
  position: absolute;
  margin-left: 375px;
}

/* Accordion Style End */

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .titleBox h1 {
    font-size: 60px;
  }

  .topBox {
    padding: 12rem 15rem 2rem 15rem;
  }

  .enterpriceBox {
    padding: 2rem 15rem;
  }

  .colBox {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .enterpriceInfoBox {
    width: 50%;
  }

  .whatWeDoBox {
    padding: 4rem 15rem;
    flex-direction: row;
  }

  .whatWeDoBox .mobileSvgIcon {
    display: none;
  }

  .whatWeDoBox .whatWeDoBoxLeft {
    width: 50%;
  }
  .whatWeDoBox .whatWeDoBoxRight {
    width: 50%;
    display: flex;
  }

  .industryBox {
    padding: 4rem 15rem;
  }

  .industryBox .industryTitleBox {
    margin: 2rem 0;
  }

  .industryBox .industryColWrapper {
    padding: 3rem 0;
    flex-direction: row;
  }

  .industryBox .industryColWrapper .industryColBox {
    width: 30%;
  }

  .industryColBox .svgBox {
    padding-bottom: 3rem;
    height: 488px;
  }

  .industryColBox .svgBox svg {
    width: 85%;
  }

  .inquiresBox {
    height: 300px;
    flex-direction: row;
    padding: 0 15rem;
  }

  .knowEOSCRBox {
    flex-direction: column;
    padding: 4rem 15rem;
  }

  .knowEOSCRBox h1 {
    margin-bottom: 3rem;
  }

  .knowEOSCRBox .knowRowBox {
    margin-top: 2rem;
    flex-direction: row;
  }

  .knowRowBox div {
    width: 50%;
  }

  .knowEOSCRBox .colReverse {
    flex-direction: row;
  }

  .knowRowBox img {
    margin-top: 0rem;
    width: 40%;
  }

  .linkProjectBox {
    background-color: #f1f1f1;
    display: flex;
    padding: 4rem 15rem;
    justify-content: space-between;
  }

  .contactUsBox {
    padding: 4rem 15rem;
  }

  .contactUsBox div {
    justify-content: space-between;
    flex-direction: row;
  }

  .contactUsBox div input[type="text"] {
    width: 48%;
  }

  .mainButton {
    width: 254px;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 768px) and (max-width: 1280px) {
  .mainContainer h1 {
    font-size: 48px;
  }

  .mainContainer input[type="text"] {
    font-size: 25px;
    margin-bottom: 2rem;
    padding: 10px;
  }
  .mainContainer h3 {
    font-size: 24px;
  }

  .mainContainer textarea {
    font-size: 20px;
  }

  .topBox {
    padding: 12rem 3rem 2rem 3rem;
    margin-bottom: 1rem;
  }

  .enterpriceBox {
    padding: 2rem 3rem;
  }

  .colBox {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .enterpriceInfoBox {
    width: 50%;
  }

  .whatWeDoBox {
    padding: 4rem 3rem;
    flex-direction: row;
  }

  .whatWeDoBox .mobileSvgIcon {
    display: none;
  }

  .whatWeDoBox .whatWeDoBoxLeft {
    width: 50%;
  }
  .whatWeDoBox .whatWeDoBoxRight {
    width: 50%;
    display: flex;
  }

  .industryBox {
    padding: 4rem 3rem;
  }

  .industryBox .industryTitleBox {
    margin: 2rem 0;
  }

  .industryBox .industryColWrapper {
    padding: 3rem 0;
    flex-direction: row;
  }

  .industryBox .industryColWrapper .industryColBox {
    width: 30%;
  }

  .industryColBox .svgBox {
    padding-bottom: 3rem;
    height: 288px;
  }

  .industryColBox .svgBox svg {
    width: 75%;
  }

  .inquiresBox {
    height: 300px;
    flex-direction: row;
    padding: 0 3rem;
  }

  .knowEOSCRBox {
    flex-direction: column;
    padding: 4rem 3rem;
  }

  .knowEOSCRBox h1 {
    margin-bottom: 3rem;
  }

  .knowEOSCRBox .knowRowBox {
    margin-top: 2rem;
    flex-direction: row;
  }

  .knowRowBox div {
    width: 50%;
  }

  .knowEOSCRBox .colReverse {
    flex-direction: row;
  }

  .knowRowBox img {
    margin-top: 0rem;
    width: 40%;
  }

  .linkProjectBox {
    background-color: #f1f1f1;
    display: flex;
    padding: 4rem 3rem;
    justify-content: space-between;
  }

  .contactUsBox {
    padding: 4rem 3rem;
  }

  .contactUsBox div {
    justify-content: space-between;
    flex-direction: row;
  }

  .contactUsBox div input[type="text"] {
    width: 48%;
  }
}
