
/*Fonts*/
/*@font-face {
  font-family: "Gotham";
  font-weight: normal;
  src: url("../../static/fonts/GothamPro-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Gotham";
  font-weight: bold;
  src: url("../../static/fonts/GothamPro-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Gotham";
  font-weight: lighter;
  src: url("../../static/fonts/GothamPro-Light.woff2") format("woff2");
}
*/


/*blog*/
.blog-wrapper{
  margin-top: 50px;
}

.blog-wrapper a {
  color: #0091FF;
}

.blog-wrapper h1{
  font-family: 'Gotham',Arial, sans-serif;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  font-size: 35px;
  letter-spacing: -0.24px;
  line-height: 35px;
}

.blog-wrapper h2{
  font-family: 'Gotham',Arial, sans-serif;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  font-size: 30px;
  letter-spacing: -0.24px;
  line-height: 30px;
}

.blog-wrapper h3{
  font-family: 'Gotham',Arial, sans-serif;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  font-size: 25px;
  letter-spacing: -0.24px;
  line-height: 25px;
}

.blog-wrapper h4{
  font-family: 'Gotham',Arial, sans-serif;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  font-size: 20px;
  letter-spacing: -0.24px;
  line-height: 20px;
}

.blog-wrapper p{
  font-family: 'Gotham',Arial, sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  font-size: 19px;
  letter-spacing: -0.05px;
  line-height: 25px;
  text-align: justify;
  margin-bottom: 15px;
}

/*Typographys*/

h1 {
  font-family: 'Gotham',Arial, sans-serif;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  font-size: 60px;
  letter-spacing: -0.24px;
  line-height: 60px;
}

h2 {
  font-family: 'Gotham',Arial, sans-serif;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  font-size: 40px;
  letter-spacing: -0.24px;
  line-height: 40px;
}

h3 {
  font-family: 'Gotham',Arial, sans-serif;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  font-size: 24px;
  letter-spacing: -0.06px;
  line-height: 24px;
}

h4 {
  font-family: 'Gotham',Arial, sans-serif;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  font-size: 20px;
  letter-spacing: -0.06px;
  line-height: 24px;
}

h5{
  font-family: 'Gotham',Arial, sans-serif;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  font-size: 16px;
  letter-spacing: -0.05px;
  line-height: 24px;
}

h6{
  font-family: 'Gotham',Arial, sans-serif;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  font-size: 14px;
  letter-spacing: -0.05px;
  line-height: 24px;
}

p{
  font-family: 'Gotham',Arial, sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  font-size: 19px;
  letter-spacing: -0.05px;
  line-height: 25px;
  text-align: justify;
  margin-bottom: 0;
}

a{
  color: #0091FF;
}

.button{
  font-size: 14px;
}

.white{
  color: white;
}

.buttonPrimary{
  font-family: 'Gotham',Arial, sans-serif;
  width: auto;
  padding: 25px;
  background-color: #5484b3;
  font-size: 21px;
  color: white;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.buttonPrimary:hover{
  opacity:0.8;
}

.buttonSecondary{
  width: auto;
  padding: 25px;
  background-color: transparent;
  font-size: 21px;
  border-radius: 0;
  display: flex;
  justify-content: center;
  border: solid 2px #5484B3;
  color: #5484B3;
  cursor: pointer;
}

.boxFlexEnd{
  display: flex;
  justify-content:flex-end;
}

.buttonSecondary:hover{
  color: white;
  background-color: #5484B3;
}

/*Navbar*/
.navBar {
  z-index: 1000;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
}

.navBarScroll{
  background-color: rgba(255, 255, 255, 0.95);
}

.menuWrapper{
  position: relative;
  width: 1100px;
  display: flex;
  align-items: center;
  font-weight: bold;
  top: 0;
  transition: 0.2s;
  height: 80px;
  margin: 0 auto;
}

.boxLeft {
  width: 100%;
  position: relative;
  display: flex;
}

.imgLogoBox{
  position: absolute;
  left: 0;
  top: -25px;
  width: 330px;
}

.imgLogoBoxMobile{
  position: absolute;
  left: 15px;
  top: 18px;
  width: 330px;
}

.imgLogo{
  -webkit-transform-origin: top left;
  -webkit-transition: all 0.26s;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

.imgDrawer{
  padding: 10%;
  width: 50%;
}

.imgLogoScroll{
  -webkit-transform-origin: top left;
  -webkit-transition: all 0.26s;
  -webkit-transform: scale(0.4, 0.4);
  -moz-transform: scale(0.4, 0.4);
  -o-transform: scale(0.4, 0.4);
  transform:scale(0.4, 0.4);
}

.boxRight{
  width: 70%;
}

.boxLanguages{
  z-index: 300;
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 11px;
  font-weight: 500;
}

.switch {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 16px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  background-color: #5484b3;
  background-color: #5484b3;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5484b3;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.boxMenuItems{
  position: absolute;
  right: 0;
  top: 0;
  height: 80px;
  display: flex;
  justify-content: flex-end;
}

.menuItem{
  position: relative;
  cursor: pointer;
  margin-left: 20px;
  height: 80px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.menuItem:hover .dropDownMenu{
  visibility: visible;
}

.menuItem:hover .dropDownMenu::after{
  top: 0;
  right: auto;
  height: 100%;
  width: 100%;
}

.menuItem:hover .menuItemDrop{
  transition-delay:  0.3s;
  opacity: 1;
}

.dropDownMenu{
  position: absolute;
  display: block;
  visibility: hidden;
  top: 70px;
  
}

.dropDownMenu:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  height: 0%;
  margin-top: -15px;
  width: 0%;
  bottom: 0;
  background:#5484b3;
  transition-property: width height;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  font-weight: bold;
}

.paperDropDown{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.menuItemDrop{
  color: white;
  white-space: nowrap;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 25px;
  opacity: 0;
  transition: opacity .1s ease-in-out;
  -moz-transition: opacity .1s ease-in-out;
  -webkit-transition: opacity .1s ease-in-out;

}

.menuItemDrop:hover{
  color: black;
}

.menuItemDropActive{
  color: black;
}

.link {
  font-family: 'Gotham',Arial, sans-serif;
  color: black;
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  white-space: nowrap
}
.link:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  height: 5px;
  margin-top: 5px;
  width: 0;
  bottom: 20px;
  background:#5484b3;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  font-weight: bold;
}

.menuItem:hover .link:after {
  left: 0;
  right: auto;
  width: 100%;
}


.linkActive:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  height: 5px;
  margin-top: 5px;
  width: 100%;
  bottom: 20px;
  background:#5484b3;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.btnDrawer{
  position: absolute;
  top: 10px;
  right: 10px;
  color: #5484b3;
}

.drawerContent{
  width: 45vw;
}

.linkItem{
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.linkItem:hover{
  text-decoration: none;

}

.linkItem:focus{
  text-decoration: none;
}

/*Footer*/

.footer{
  width: "100%";
  display: flex;
  justify-content: center;
  background-color: black;
  overflow-x: hidden;
}

.footerContent{
  width: 1100px;
  display: flex;
  padding-top: 140px;
  padding-bottom: 140px;
}

.boxTitle{
  margin-bottom: 2rem;
}

.h3Footer{
  font-family: 'Gotham',Arial, sans-serif;
  color: white;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: -0.06px;
}

.body1Footer{
  font-family: 'Gotham',Arial, sans-serif;
  color: white;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  font-size: 19px;
  letter-spacing: -0.05px;
  line-height: 25px;
  text-align: justify;
}

.linkFooter{
  font-family: 'Gotham',Arial, sans-serif;
  color: white;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  font-size: 19px;
  letter-spacing: -0.05px;
  line-height: 25px;
  text-align: justify;
}

.linkFooter:hover{
  color: #5484b3;
  text-decoration: none;
}

/*Home*/

.mainContainer{
  overflow-x: hidden;
}

.containerSec{
  max-width: var(--ifm-container-width);
  margin: 0 auto;
  display: flex;
  width: 1100px;
  justify-content: center;
  padding: 0;
}

.containerGray{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
}

.containerBlack{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
}

.containerWithBackground{
  background-image: url("https://eoscostarica.io/img/blureoslogo.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 100%;
}

.content{
  width: 960px;
  display: flex;
}

.bgParallax{
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 780px;
}

.bgParallaxSecondary{
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 2000px;
}

.imgParallax{
  z-index: 1;
  height: 100%;
  width: 100vw;
  background-image: url("https://eoscostarica.io/img/blureoslogo.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.titleBox{
  margin-bottom: 3rem;
}

.h3Box{
  margin-bottom: 2rem;
}

.buttonBox{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.buttonBoxMobile{
  width: 100%;
  position: absolute;
  bottom: -30px;
  display: flex;
  justify-content: center;
}

.sectionHero{
  width: 1100px;
  height: 780px;
  padding-top: 250px;
}

.sectionHeroMobile{
  position: relative;
  padding-top: 100px;
  padding-bottom: 80px;
  width: 100%;
  background-color: #f1f1f1;
}

.sectionContact{
  width: 1100px;
  padding-top: 250px;
}

.logoMobileBox{
  width: 100%;
  display: flex;
  justify-content: center;
}

.logoMobile{
  margin-bottom: 2em;
  width: 90%;
}

.section{
  padding-bottom: 140px;
  width: 100%;
}

.sectionNoPadding{
  width: 1100px;
}

.sectionPadding{
  padding-top: 140px;
  padding-bottom: 140px;
  width: 1100px;
}



.accordion{
  width: 100%;
  background-color: #f1f1f1;
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

.MuiAccordion-root::before{
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
}

.imgBox{
  display: flex;
  justify-content: center;
  height: 350px;
  margin-bottom: 3rem;
}

.imgBoxLogos{
  display: flex;
  justify-content: center;
  height: 288px;
  margin-bottom: 3rem;
}

.spacingBox{
  margin-bottom: 3rem;
}

.topSpacingBox{
  margin-top: 3rem;
}

.doubleSpacingBox{
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.inquiereBox{
  display: flex;
  align-items: center;
  height: 500px;
}

.imgBoxRight{
  display: flex;
  justify-content: flex-end;
}

.imgBoxLeft{
  display: flex;
  justify-content: flex-start;
}

.imgKnow{
  width: 90%;
}

.imgProjects{
  width: 85%;
}


/*services*/

.centerBox{
  display: flex;
  justify-content: center;
}

/*Team*/

.avatarBox{
  display: flex;
  justify-content: center;
  height: 250px;
  margin-bottom: 3rem;
}

.centerText{
  text-align: left;
}

.nameText{
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;
}

.nameText{
  font-size: 22px;
  text-align: left;
  margin-bottom: 5px;
}

.positionText{
  text-align: left;
  font-size: 18px;
  color: #5484b3;
  font-weight: bold;
  margin-bottom: 10px;
}

.socialMediaBox{
  display: flex;
  justify-content: start;
  margin-top: 5px;
}

/* Contact */
.contactFormBox{
  margin-bottom: 3rem;
}

@media only screen and (max-width: 960px) {
  .footerLogo {
    width: 80%;
  }
  
  .footerLogoBox{
    display: flex;
    justify-content: center;
  }

  .h3Footer{
    text-align: center;
  }

  .body1Footer{
    text-align: center;
  }

  .linkFooter{
    text-align: center;
  }

  .buttonBox{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .containerSec{
    width: 100%;
  }

  .section{
    width: 100%;
  }

  .sectionNoPadding{
    width: 100%;
  }
  
  .sectionPadding{
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
  }

  .accordionBox{
    width: 95%;
  }

  .imgBoxLogos{
    height: 120px;
  }

  .inquiereBox{
    height: auto;
  }

  .imgKnow{
    width: 100%;
  }
  
  .imgProjects{
    width: 100%;
  }

  .contactFormBox{
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .nameText{
    font-size: 20px;
    text-align: center;
  }

  .positionText{
    text-align: center;
    font-size: 18px;
  }
  
  

  h1{
    line-height: 30px;
    font-size: 30px;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  h2{
    line-height: 20px;
    font-size: 25px;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  h3{
    line-height: 20px;
    font-size: 20px;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  h4{
    line-height: 25px;
    font-size: 18px;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  p{
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 15px;
  }

  /*blog*/
  .blog-wrapper{
    margin-top: 50px;
  }

  .blog-wrapper a {
    color: #5484b3;
  }

  .blog-wrapper h1{
    font-size: 30px;
    text-align: left;
    padding: 0;
  }

  .blog-wrapper h2{
    font-size: 25px;
    text-align: left;
    padding: 0;
  }

  .blog-wrapper h3{
    font-size: 20px;
    text-align: left;
    padding: 0;
  }

  .blog-wrapper h4{
    font-size: 15px;
    padding: 0;
    text-align: left;
  }

  .blog-wrapper p{
    font-family: 'Gotham',Arial, sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    font-size: 15px;
    letter-spacing: -0.05px;
    line-height: 25px;
    text-align: justify;
    margin-bottom: 15px;
    padding: 0;
  }
}